**Printing interger values in string formate.**

In [2]:
x = str(2)

print(type(x))

<class 'str'>

In [4]:
x = str(2)
print(type(x))

<class 'str'>

In [5]:
x = str(2)
print(type(x))

<class 'str'>

Now printing in different variabel and printing the interger value in 'interger' formate.

In [7]:
y = int(2)
print(type(y))

<class 'int'>

In [9]:
y = int(2)
print(type(y))

<class 'int'>

In [10]:
y = int(2)
print(type(y))

<class 'int'>

Printing float type value

In [14]:
z = float(2)
print(type(z))

<class 'float'>

In [16]:
z = float(2)
print(type(z))

<class 'float'>

In [17]:
z = float(2)
print(type(z))

<class 'float'>

**Printin string = hello in different variables.**

In [19]:
myvar = "Hello"
my_var = "Hello"
_my_var = "Hello"
MYVAR = "Hello"
myvar2 = "Hello"


print(myvar)
print(my_var)
print(_my_var)
print(MYVAR)
print(myvar2)

Hello
Hello
Hello
Hello
Hello

In [21]:
myvar = "Hello"
my_var = "Hello"
_my_var = "Hello"
MYVAR = "Hello"
myvar2 = "Hello"


print(myvar)
print(myvar)
print(_my_var)
print(MYVAR)
print(myvar2)

Hello
Hello
Hello
Hello
Hello

In [22]:
myvar = "Hello"
my_var = "Hello"
_my_var = "Hello"
MYVAR = "Hello"
myvar2 = "Hello"


print(myvar)
print(my_var)
print(_my_var)
print(MYVAR)
print(myvar2)

Hello
Hello
Hello
Hello
Hello

**Multiple Variable Assignment in Python"**

In [23]:
x,y,z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [26]:
x,y,z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [27]:
x,y,z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Just showing the typer of this three variables.

In [30]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [32]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [33]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

Same showing the conditon part showen into the fisrt.

In [35]:
if 6 > 3:
    print("Six is greater than three!")

Six is greater than three!

In [37]:
if 6 > 3:
    print("Six is greater than three!")

Six is greater than three!

In [38]:
if 6 > 3:
    print("Six is greater than three!")

Six is greater than three!

# Showing and printing the list in python.