**This is the practice part of the python tha have done or completed before.**

In [1]:
# showing the two strings in double quotes and single quotes
print("\"virat Kohli\"")

"virat Kohli"

In [2]:
# now printing a string type  number.
print("\"01710444700\"")

"01710444700"

**Variales and Data**

In [41]:
name = "Virat Kohli"
age = 24
cgpa = 3.95
print("Our new student name is "+name)
print(name + " lives in Dhaka") 
print("He is currently", age , "years old") 
print("At the age of " , age , ", he has started to learn Python") 
print(name + " has scored", cgpa ,"in his Secondary exam")
  
name1 = "Ahsiul"
name2 = "Karim"  
name3 = "Audri"

print("\""+name1+"\"" " " "\""+name2+"\"" " " "\""+name3+"\"")

Our new student name is Virat Kohli
Virat Kohli lives in Dhaka
He is currently 24 years old
At the age of  24 , he has started to learn Python
Virat Kohli has scored 3.95 in his Secondary exam
"Ahsiul" "Karim" "Audri"

**Numeric Operation**

In [ ]:
a = 18
b = 4

print(a + b)

print(a - b)

print(a * b)

print(a / b)

print(a % b)

"""
Some other 
operactors

"""



#Exponentiation
a2 = 4
b2 = 2
print(a2 ** b2)


a3 = 4
b3 = 3
print(a3 ** b3)

22
14
72
4.5
2
6
16
64

In [46]:
a1 = 27
b1 = 4

print(a1 // b1)

6

In [3]:
name = input("Enter your name:")
age = input("Enter your age:")
cgpa = input("Enter your cgpa:")

print("Student information")
print("---------------------")
print("Name : "+name)
print("Age  : ",age)
print("CGPA : ",cgpa)

Student information
---------------------
Name : Sazid Rahman Angshu
Age  :  28
CGPA :  3.60

In [10]:

name = input("Enter your name:")
phoneNumber = input("Enter your phone number:")

print ("\""+ name +"\"")
print ("\'"+ phoneNumber +"\'")

"Tanjil Emam Pranto"
'01814836789'

**Typecusting**

In [1]:
num1 = input("Enter 1st number:")
num2 = input("Enter 2nd number:")

sum = num1 + num2

print(sum)

123

In [1]:
num1 = input("Enter 1st number:")
num2 = input("Enter 2nd number:")

sum = int(num1) + int(num2)

print("The sum is "+sum)

TypeError: can only concatenate str (not "int") to str

In [6]:
num1 = input("Enter 1st number:")
num2 = input("Enter 2nd number:")

sum = int(num1) + int(num2)
# addition 
print("The sum is",sum)

#Subtracion

result = int(num1) - int(num2)

print("The subtraction is",result)

#multiplication

result = int(num1) * int(num2)

print("The multiplication is",result)

The sum is 15
The subtraction is 9
The multiplication is 36

In [2]:
# user enters: 10 20 30 40
numbers = input("Enter numbers separated by space: ").split()

# convert to integers
for i in range(len(numbers)):
    numbers[i] = int(numbers[i])

print("List:", numbers)

List: [2, 4, 6, 8, 10]